<%- include('partials/head', {title: "Profile"}); %>

<div class='p-10 bg-white h-screen w-full text-black mt-20 text-center'>

    <p>name:   <%= name %></p>
    <P>email:  <%= email %></P>
</div> 


<%- include('partials/footer'); %>

